/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

h2 {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Crimson Text', sans-serif;*/
    /*font-weight: bold;*/
    cursor: pointer;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

iframe {
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    z-index: -1;
}

.modal-body {
    position: relative;
}

.modal-content {
    z-index: 50 !important;
}

.modal-lg {
    min-width: 80vw !important;
}

.modal-dialog {
    min-width: 80vw !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: whitesmoke;
}

.darker {
    position: relative;
    filter: brightness(50%);
    z-index: -1;
}

.card-text {
    font-family: "Roboto 700", sans-serif;
    /*font-weight: bold;*/
    letter-spacing: 0.04em;

}

.video-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mobile-video-div {
    position: relative;
    width: 75%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-title {
    font-family: 'Roboto', sans-serif;
}

.abstract-text {
    /*font-family: "PT Sans Light", sans-serif;*/
}

.pageno-text {
    font-size: 0.9em;
    color: #4a4a4a;
}

.pageno-span {
    font-size: 1em;
    color: #827e82;
}

.iframe-cols {
    background-color: black;
}

.text-cols {
    font-size: 0.9em;
}

.new_row {
    border-bottom: 1px solid #b8bcbf;
}

.footer-text {
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

#next_btn #prev_btn {
    font-size: 0.9em;
}

/*search page styles*/
/*html {*/
/*font-size: 80%;*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
    /*#next_btn #prev_btn {*/
        /*font-size: 1.5em;*/
    /*}*/

    /*.footer-text {*/
        /*font-size: 1.2em;*/
        /*font-family: "Roboto", sans-serif;*/
        /*font-weight: lighter;*/
    /*}*/

    /*.pageno-text {*/
        /*font-size: 1.2em;*/
        /*color: #4a4a4a;*/
    /*}*/
/*}*/

mark {
    background-color: #d9edf7;
    color: #030;
    padding: 2px;
    margin: -2px;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.5em;
}

.modal-content h5 {
    font-size: 1.7em;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

tr {
    cursor: pointer;
}

#myContainer {
    font-size: 1.4em;
}

#loadingProgressBar {
    width: 100%;
    height: 2.1em
}

#searchInput {
    height: 2.2em;
    font-size: 1em;
}