@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
/*font-family: 'Open Sans Semibold', sans-serif;*/
}

h2 {
    /*font-family: 'Segoe UI', serif;*/
    cursor: pointer;
}


h3 {
    font-family: 'Segoe UI Light', serif;
}

iframe {
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: whitesmoke;
}

.darker {
    filter: brightness(50%);
    z-index: -1;
}


.card-text {
    font-family: "Segoe UI", sans-serif;
}

.video-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-title {
    font-family: 'Crimson Text', serif ;
}

.abstract-text {
    font-family: "Segoe UI Light", sans-serif;
}

.pageno-text {
    color: #4a4a4a;
}

.pageno-span {
    color: #827e82;
}

.iframe-cols {
    background-color: black;
}

.text-cols {
    font-size: 0.9em;
}

.new_row {
    border-bottom: 1px solid #b8bcbf;
}

.footer-text {
    font-size: 1em;
    font-family: "Segoe UI Light", sans-serif;
}