/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


body {
/*font-family: 'Roboto Semibold', sans-serif;*/
}

h2 {
    font-family: 'Roboto', sans-serif;
    /*font-weight: bold;*/
    cursor: pointer;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

iframe {
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: whitesmoke;
}

.darker {
    filter: brightness(50%);
    z-index: -1;
}


.card-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    letter-spacing: 0.04em;

}

.video-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-title {
    font-family: 'Roboto', sans-serif ;
}

.abstract-text {
    /*font-family: "PT Sans Light", sans-serif;*/
}

.pageno-text {
    color: #4a4a4a;
}

.pageno-span {
    color: #827e82;
}

.iframe-cols {
    background-color: black;
}

.text-cols {
    font-size: 0.9em;
}

.new_row {
    border-bottom: 1px solid #b8bcbf;
}

.footer-text {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}